@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Sigmar");
@import "./css/ColorPallet.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  color: var(--Color);
  font-size: 1rem;
  font-family: rajdhani;
}

main {
  grid-area: main;  
}