@import "../../css/ColorPallet.css";

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:var(--primaryColor);
  }
  header .date {
    display: flex;
  }
  header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  header .dropbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }