@import '../../css/palett.css';

.frame {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    align-items: end;    
}

.header {
    display: grid;
    grid-template-columns: 300px repeat(8, 1fr);
    height: 68px;
    align-items: center;
    background-color: var(--assentColor);
    

}

.container {
    display: grid;
    grid-template-columns: 300px repeat(8, 1fr);
    height: 68px;
    align-items: center;
    background-color: var(--bgColor);
    margin-bottom: 10px;
    


}

.footer {
    display: flex;
    padding: 10px 20px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: var(--assentColor);

}

.btn {
    min-width: 94px;
    justify-content: center;
    align-items: center;
    height: 42px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.562);
    font-weight: bold;
    font-size: 1.2rem;

}

.workers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

.inputContainer {
    margin: 0 10px;


}

.label {
    padding-right: 10px;

}

.workerList {
    display: flex;
    align-items: center;
    font-size: 16px;
    min-width: 200px;
    gap: 20px;
    padding-left: 20px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 50% 0%;
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    font-weight: bold;
    font-size: 25px;
    color: black;
}

/* ====================================================================== */




.article {
    position: relative;
    width: 100px;
    height: 48px;
    margin: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .5s ease;
    cursor: pointer;


}


.article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 48px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked~div {
    background-color: #18ee58;
    color: #302d2d;
}

.dayoff input[type=checkbox]:checked~div{
    background-color: #f12307;
    color: #302d2d;
}