@import '../../../css/ColorPallet.css';

.Dashboard_KPI {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem ;
  line-height: 1rem;
  gap: 25px;

  @media (min-width: 1450px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
.Dashboard_Asigment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  background-color:var(--terciary);
}

.Dashboard_Asigment h1 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary);
  text-align: center;
  padding: 10px;
}

.Dashboard_Asigment div {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  
  margin-bottom: 10px;
}

.Dashboard_Asigment div h2 {
  width: 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 8px;
}



.Dashboard_Asigment_title {
  display: flex;
  flex-direction: column;
}


.Dashboard_Asigment div h2 span {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

.assigmentContainer{
  display: flex;
  width: 650px;
  height: 400px;
  flex-direction: column;
  padding: 20px;
}

.formAssigment{
  display: grid; 
  width: 100%;
  height: 100%;   
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;   
  justify-items: center; 
  
}

.btnSubmit{
  grid-column: 1/4;
  grid-row: 4/5;
  width: 200px;
  height: 40px;
  background-color: var(--active);
  color: var(--white);
  font-size: 1.5rem;
}

