@import '../../css/ColorPallet.css';

.tab_list{
    display:flex;
    flex-direction: row;
    font-weight: bold;
}

.tab_list div{
    display: flex;    
    padding: 8px 18px 0 8px;
    background: linear-gradient(220deg, transparent 35px, var(--primary) 10px);
    
}


.tab_list_item {
    list-style: none;    
    padding: 0.6rem 3rem 0.4rem 2rem;
    background: linear-gradient(220deg, transparent 25px, var(--inactive) 10px);
    cursor: pointer;
    color: var(--Color);    
    z-index: 1;
    
}

.tab_list_item:nth-child(2) {
    margin-left: -20px;
   
}
.tab_list_item:nth-child(3) {
    margin-left: -20px;
    
}
.tab_list_item:nth-child(4) {
    margin-left: -20px;
    
}
.tab_list_item:nth-child(5) {
    margin-left: -20px;    
}
.tab_list_item:nth-child(6) {
    margin-left: -20px;
}
.tab_list_item:nth-child(7) {
    margin-left: -20px;
}
.tab_list_item:hover {
    background: linear-gradient(220deg, transparent 25px, var(--assert) 10px);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2); 
}

.tab_list_active {    
    background: linear-gradient(220deg, transparent 25px, var(--assert) 10px);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    z-index: 11;
}

.tab_content {
    display: flex;
    width: 100%;
    height: calc(100dvh - 150px);
    flex-direction: column;
    padding: 8px;
    gap: 10px;    
    background-color:var(--primary);
}
.label {
    display: flex;
    width: 200px;    
    align-items: center;
    justify-content: left;
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
  }

 